This code parses all the required information from the genbank file to populate the database.

Author: Denzel Eggerue

Version: 1

In [1]:
import pandas as pd 
from Bio import Seq
from Bio import SeqIO
from Bio import SeqFeature
from Bio import SeqRecord
import re

In [2]:
filename = 'chrom_CDS_1.txt'

re_list = ['ACCESSION[\s]+([A-Z]+[0-9]+)','product="(.*)"','gene="(.*)"','map="(.*)"','translation="(.*)"','CDS[\s]+([\s\S]*?)gene']

matches_full = []

recordAll = []


with open(filename) as file:
    for record in SeqIO.parse(file, "genbank"):
        recordAll.append(record.seq)
        
recordAll.append(' ')

with open(filename,'r') as f:
    file = f.read()
    new_file = file.split('//\n')
    genID = -1
    
for line in new_file:
    genID += 1
    matches = [genID]
    for r in re_list:
        match = re.findall(r,line)
        if match:
            matches.append(match[0])
        else:
            matches.append('N/A')
    matches.append(recordAll[genID])
    matches_full.append(matches)


print(len(matches_full))

2347

In [3]:
col_accession = []
col_product = []
col_gene = []
col_chrloc = []
col_AA = []
col_CDS = []
col_origin = []
col_complement = []

for i in matches_full:
    col_accession.append(i[1])
    col_product.append(i[2])
    col_gene.append(i[3])
    col_chrloc.append(i[4])
    col_AA.append(i[5])
    col_CDS.append(i[6])
    col_origin.append(i[7])
    col_complement.append("")

print(col_origin[0])

GGATCCCTGCTGCAGAGGGGGTAACGGTGTCTGGCTTGCCAAGCAATATTTGTTGTGGTCTATCATGGAAGAAATAAAGTCGGGCAATATGAATTTTTTTTTTCTCAAATTTGCCGGATGGCTGTGGTGTTTCTGACTCTTAGTTTTCTCATTGTGAAAAAGGAATGATTATCTTCTTCGATCCTCTCAAGAGTTTCCTTGTTTTGAGTAGATTGATAGCTCTTTAAAGGATGCTAAGCTCAGCTAATGGAAGAAGAGTCTAGTTTCTTTGAGGCTTTGATTTTGGTTAAACTATAGAGCTCATACCTTTCTGTATGGTGCAGCTTACTATTGTCTTTGGATTGGTAACTTAAAAAATACAAATAACATGCCTTTGAGAACCAATAAAAACTATGGATATTATCCCTATAAATTTACACAAATCCAGATATAAGCATGCAATGTGATATACCTAAGGGATATGTGAACCACTGAGTTAAGAACTGCTTTAGAGGGAGATACAATGTGAGACACAGGCTTTGGGATAAGACTTTGGTTTGAATCCTGGCTCTGCTCTGTTACCTTAGGGCAAAGTTACTTAAGCATCTTGAATCTCAGCTTTTTTACCAAAGCAGGACTAATACTAACTTACAAGGTGGTGAGGATTAAGTGAAAGAAGATACATAAGGCACTTAGCACATAGTAGGTACTCAATAAGCGATAGCTAACAGATGTCTATTATTATTCAAGGAATTATAATTTTCAAATCTGAAATGCAGTTTTAATGTCCCATAAGGTGACTACCACATACATTTTTCTCAGACTTTTAGTAAACTGAGTTGATTTGACTTTATCTCAGTACTACTCTTGACCTTTCACAACTTTCGTAGGTTCACAGTCTCTCTTTTTCTAGGAACTTGGCTGTGTTGTCCTGCCTCAGAGACAAATTCATCTATTGTAGGCCTAGCCCCTGCCTTTGAAAACAAGGAAAGGTTGGTAGAACATCAACACAGCATGGAATTTCCAGGGAGGTCTCATTTCAAAACTTCATAAAGAACAAGAACCACCTGGACTTCTGTGAGGGCGATGATTAAACTGGCCTGAGTTTGAATGAAAGGATAATGTATGCTCAACCTGTGACTAACACCAAGGAGGTCAAGTGGCAGAAGGTCTTGTATGAGCGACAGCCCTTTCCTGATAACTATGTGGACCGGCGATTCCTGGAAGAGCTCCGGAAAAACATCCATGCTCGGAAATACCAATATTGGGCTGTGGTATTTGAGTCCAGTGTGGTGATCCAGCAGCTGTGCAGTGTTTGTGTTTTTGTGGTTATCTGGTGGTATATGGATGAGGGTCTTCTGGCCCCCCATTGGCTTTTAGGGACTGGCCTGGCTTCTTCACTGATTGGGTATGTTTTGTTTGATCTCATTGATGGAGGTGAAGGGCGGAAGAAGAGTGGGCAGACCCGGTGGGCTGACCTGAAGAGTGCCCTAGTCTTCATTACTTTCACTTATGGGTTTTCACCAGTGCTGAAGACCCTTACAGAGTCTGTCAGCACTGACACCATCTATGCCATGTCAGTCTTCATGCTGTTAGGCCATCTCATCTTTTTTGACTATGGTGCCAATGCTGCCATTGTATCCAGCACACTATCCTTGAACATGGCCATCTTTGCTTCTGTATGCTTGGCATCACGTCTTCCCCGGTCCCTGCATGCCTTCATCATGGTGACATTTGCCATTCAGATTTTTGCCCTGTGGCCCATGTTGCAGAAGAAACTAAAGGCATGTACTCCCCGGAGCTATGTGGGGGTCACACTGCTTTTTGCATTTTCAGCCGTGGGAGGCCTACTGTCCATTAGTGCTGTGGGAGCCGTACTCTTTGCCCTTCTGCTGATGTCTATCTCATGTCTGTGTTCATTCTACCTCATTCGCTTGCAGCTTTTTAAAGAAAACATTCATGGGCCTTGGGATGAAGCTGAAATCAAGGAAGACTTGTCCAGGTTCCTCAGTTAAATTAGGACATCCATTACATTATTAAAGCAAGCTGATAGATTAGCCTCCTAACTAGTATAGAACTTAAAGACAGAGTTCCATTCTGGAAGCAGCATGTCATTGTGGTAAGAGAATAGAGATCAAAACCAAAAAAAATGAACCAAAGGCTTGGGTGGTGAGGGTGCTTATCCTTTCTGTTATTTTGTAGATGAAAAAACTTTCTGGGGACCTCTTGAATTACATGCTGTAACATATGAAGTGATGTGGTTTCTATTAAAAAAATAACACATCCATCAAGTTGTCTCATGATTTTTCCATAAACAGGAGGCAGACAGAGGGGCATGAAGAGTGAAGTAAGTGTGTGTGTGTGTGTGTGTGTGTGTAAAGTCACTTCTTTCTACCCTTTTCAATGTGCTAATGCTCTTTTATTTATCTAGGGCTCAAATCTTAGAACACAGGGTGCTATGCTCAGTTTTGTTGCCCAAGATCACAGAATTGGTTACTTAACCTTGACTCAGAGTTTCTACCTTGTTCTTAGGGAAGCATATCACAACTAATTGCAAAGCAGAGTGTGATGTGTCACAATAAGCAGAATGCTAGGGGGAATTC

In [4]:
df = pd.DataFrame({'Accession Number':col_accession, 'Protein Name':col_product, 'Gene':col_gene, 'Chromosome Location':col_chrloc, 'AA Coding Seq':col_AA,'Complement':col_complement, 'CDS':col_CDS, 'Origin':col_origin})

In [5]:
print(df)

     Accession Number                Protein Name   Gene Chromosome Location  \
0            AB000360                         N/A   PIGC            1q23-q25
1            AB003474                         N/A  STK6P            1q41-q42
2            AB006688                    myocilin    N/A            1q23-q24
3            AB007162       ribosomal protein S27    N/A                 N/A
4            AB007171       ribosomal protein L11    N/A                 N/A
...               ...                         ...    ...                 ...
2342           Z99572                         N/A     F5              q23-24
2343           Z99715                    KIAA0040    TNN              q23-24
2344           Z99758   putative novel transcript   NME7                 q24
2345           Z99943  myelin protein zero-like 1  MPZL1                 q24
2346              N/A                         N/A    N/A                 N/A

                             AA Coding Seq Complement  \
0                                      N/A
1                                      N/A
2                                      N/A
3                                      N/A
4     IRKLCLNICVGESGDRLTRAAKVLEQLTGQTPVFSK
...                                    ...        ...
2342                                   N/A
2343                                   N/A
2344                                   N/A
2345                                   N/A
2346                                   N/A

                                                    CDS  \
0                    1101..1994\n                     /
1                        1..915\n                     /
2                                                   N/A
3                                                   N/A
4                                                   N/A
...                                                 ...
2342  complement(join(27431..27577,28562..28744,3153...
2343  join(complement(Z99297.1:37013..37421),\n     ...
2344  join(complement(AL356852.11:37044..37046),\n  ...
2345  join(<41867..42046,48572..48785,49533..49665,6...
2346                                                N/A

                                                 Origin
0     (G, G, A, T, C, C, C, T, G, C, T, G, C, A, G, ...
1     (A, A, G, A, C, T, T, T, G, A, A, A, T, T, G, ...
2     (G, A, T, C, T, C, C, A, G, T, T, C, C, T, A, ...
3     (G, A, T, C, T, C, C, T, T, C, A, T, C, C, C, ...
4     (A, T, C, C, G, C, A, A, A, C, T, C, T, G, T, ...
...                                                 ...
2342  (C, A, T, T, T, A, A, A, G, C, A, A, T, T, T, ...
2343  (T, G, C, T, G, C, T, C, C, C, A, T, G, T, C, ...
2344  (C, A, C, T, G, G, T, C, A, C, T, C, A, G, A, ...
2345  (G, A, T, C, A, C, T, A, G, A, G, T, A, A, T, ...
2346

[2347 rows x 8 columns]

In [6]:
x = 0
for i in df['CDS']:
    if 'complement' in i:
        df.xs(x)['Complement']=1
    else:
        df.xs(x)['Complement']=0
    x+=1
print(df)

     Accession Number                Protein Name   Gene Chromosome Location  \
0            AB000360                         N/A   PIGC            1q23-q25
1            AB003474                         N/A  STK6P            1q41-q42
2            AB006688                    myocilin    N/A            1q23-q24
3            AB007162       ribosomal protein S27    N/A                 N/A
4            AB007171       ribosomal protein L11    N/A                 N/A
...               ...                         ...    ...                 ...
2342           Z99572                         N/A     F5              q23-24
2343           Z99715                    KIAA0040    TNN              q23-24
2344           Z99758   putative novel transcript   NME7                 q24
2345           Z99943  myelin protein zero-like 1  MPZL1                 q24
2346              N/A                         N/A    N/A                 N/A

                             AA Coding Seq Complement  \
0                                      N/A          0
1                                      N/A          0
2                                      N/A          0
3                                      N/A          0
4     IRKLCLNICVGESGDRLTRAAKVLEQLTGQTPVFSK          0
...                                    ...        ...
2342                                   N/A          1
2343                                   N/A          1
2344                                   N/A          1
2345                                   N/A          0
2346                                   N/A          0

                                                    CDS  \
0                    1101..1994\n                     /
1                        1..915\n                     /
2                                                   N/A
3                                                   N/A
4                                                   N/A
...                                                 ...
2342  complement(join(27431..27577,28562..28744,3153...
2343  join(complement(Z99297.1:37013..37421),\n     ...
2344  join(complement(AL356852.11:37044..37046),\n  ...
2345  join(<41867..42046,48572..48785,49533..49665,6...
2346                                                N/A

                                                 Origin
0     (G, G, A, T, C, C, C, T, G, C, T, G, C, A, G, ...
1     (A, A, G, A, C, T, T, T, G, A, A, A, T, T, G, ...
2     (G, A, T, C, T, C, C, A, G, T, T, C, C, T, A, ...
3     (G, A, T, C, T, C, C, T, T, C, A, T, C, C, C, ...
4     (A, T, C, C, G, C, A, A, A, C, T, C, T, G, T, ...
...                                                 ...
2342  (C, A, T, T, T, A, A, A, G, C, A, A, T, T, T, ...
2343  (T, G, C, T, G, C, T, C, C, C, A, T, G, T, C, ...
2344  (C, A, C, T, G, G, T, C, A, C, T, C, A, G, A, ...
2345  (G, A, T, C, A, C, T, A, G, A, G, T, A, A, T, ...
2346

[2347 rows x 8 columns]

In [7]:
print(df.loc[2345]['CDS'])

join(<41867..42046,48572..48785,49533..49665,64117..64141)
                     /

In [8]:
df.replace('complement','', regex = True, inplace = True)
print(df['CDS'])

0                      1101..1994\n                     /
1                          1..915\n                     /
2                                                     N/A
3                                                     N/A
4                                                     N/A
                              ...
2342    (join(27431..27577,28562..28744,31530..31681,\...
2343    join((Z99297.1:37013..37421),\n               ...
2344    join((AL356852.11:37044..37046),\n            ...
2345    join(<41867..42046,48572..48785,49533..49665,6...
2346                                                  N/A
Name: CDS, Length: 2347, dtype: object

In [9]:
df.replace('join','', regex = True, inplace = True)
print(df['CDS'])

0                      1101..1994\n                     /
1                          1..915\n                     /
2                                                     N/A
3                                                     N/A
4                                                     N/A
                              ...
2342    ((27431..27577,28562..28744,31530..31681,\n   ...
2343    ((Z99297.1:37013..37421),\n                   ...
2344    ((AL356852.11:37044..37046),\n                ...
2345    (<41867..42046,48572..48785,49533..49665,64117...
2346                                                  N/A
Name: CDS, Length: 2347, dtype: object

In [10]:
df.replace('>','', regex = True, inplace = True)
print(df['CDS'])

0                      1101..1994\n                     /
1                          1..915\n                     /
2                                                     N/A
3                                                     N/A
4                                                     N/A
                              ...
2342    ((27431..27577,28562..28744,31530..31681,\n   ...
2343    ((Z99297.1:37013..37421),\n                   ...
2344    ((AL356852.11:37044..37046),\n                ...
2345    (<41867..42046,48572..48785,49533..49665,64117...
2346                                                  N/A
Name: CDS, Length: 2347, dtype: object

In [11]:
df.replace('<','', regex = True, inplace = True)
print(df['CDS'])

0                      1101..1994\n                     /
1                          1..915\n                     /
2                                                     N/A
3                                                     N/A
4                                                     N/A
                              ...
2342    ((27431..27577,28562..28744,31530..31681,\n   ...
2343    ((Z99297.1:37013..37421),\n                   ...
2344    ((AL356852.11:37044..37046),\n                ...
2345    (41867..42046,48572..48785,49533..49665,64117....
2346                                                  N/A
Name: CDS, Length: 2347, dtype: object

In [12]:
pattern = '([0-9]+\.\.[0-9]+)'

In [13]:
list_joins = []

In [14]:
for join in df['CDS']:
    match_2 = re.findall(pattern,join)
    list_joins.append(match_2)

In [15]:
print(len(list_joins))

2347

In [16]:
df['Joins'] = list_joins

In [17]:
print(len(df))

2347

In [18]:
df.drop(['CDS'], inplace = True, axis = 1)

In [19]:
print(df)

     Accession Number                Protein Name   Gene Chromosome Location  \
0            AB000360                         N/A   PIGC            1q23-q25
1            AB003474                         N/A  STK6P            1q41-q42
2            AB006688                    myocilin    N/A            1q23-q24
3            AB007162       ribosomal protein S27    N/A                 N/A
4            AB007171       ribosomal protein L11    N/A                 N/A
...               ...                         ...    ...                 ...
2342           Z99572                         N/A     F5              q23-24
2343           Z99715                    KIAA0040    TNN              q23-24
2344           Z99758   putative novel transcript   NME7                 q24
2345           Z99943  myelin protein zero-like 1  MPZL1                 q24
2346              N/A                         N/A    N/A                 N/A

                             AA Coding Seq  Complement  \
0                                      N/A           0
1                                      N/A           0
2                                      N/A           0
3                                      N/A           0
4     IRKLCLNICVGESGDRLTRAAKVLEQLTGQTPVFSK           0
...                                    ...         ...
2342                                   N/A           1
2343                                   N/A           1
2344                                   N/A           1
2345                                   N/A           0
2346                                   N/A           0

                                                 Origin  \
0     (G, G, A, T, C, C, C, T, G, C, T, G, C, A, G, ...
1     (A, A, G, A, C, T, T, T, G, A, A, A, T, T, G, ...
2     (G, A, T, C, T, C, C, A, G, T, T, C, C, T, A, ...
3     (G, A, T, C, T, C, C, T, T, C, A, T, C, C, C, ...
4     (A, T, C, C, G, C, A, A, A, C, T, C, T, G, T, ...
...                                                 ...
2342  (C, A, T, T, T, A, A, A, G, C, A, A, T, T, T, ...
2343  (T, G, C, T, G, C, T, C, C, C, A, T, G, T, C, ...
2344  (C, A, C, T, G, G, T, C, A, C, T, C, A, G, A, ...
2345  (G, A, T, C, A, C, T, A, G, A, G, T, A, A, T, ...
2346

                                                  Joins
0                                          [1101..1994]
1                                              [1..915]
2                                                    []
3                                                    []
4                                                    []
...                                                 ...
2342  [27431..27577, 28562..28744, 31530..31681, 336...
2343  [37013..37421, 35133..35507, 34414..34677, 309...
2344  [37044..37046, 132517..132624, 131241..131407,...
2345  [41867..42046, 48572..48785, 49533..49665, 641...
2346                                                 []

[2347 rows x 8 columns]

In [20]:
%load_ext sql
%sql mysql+pymysql://ed001:w3jatiunb@localhost/ed001?local_infile=1

In [38]:
%reload_ext sql

In [26]:
%%sql
DROP TABLE IF EXISTS chromosome_1;

CREATE TABLE chromosome_1
(   accession_num   VARCHAR(255)   NOT NULL, 
    protein_name    VARCHAR(255)   NULL, 
    gene            VARCHAR(255)   NULL,
    chromosome_loc  VARCHAR(255)   NULL,
    aa_coding_seq   VARCHAR(255)   NULL,
    complement      CHAR(1)        NULL,
    origin          TEXT           NULL,
    joins           VARCHAR(255)   NULL,
    PRIMARY KEY    (accession_num)
);

SHOW tables;

 * mysql+pymysql://ed001:***@localhost/ed001?local_infile=1
0 rows affected.
0 rows affected.
6 rows affected.

[('Botanical_Survey',),
 ('NVC_Category',),
 ('NVC_Community',),
 ('Plant_Species',),
 ('Quadrat',),
 ('chromosome_1',)]

In [27]:
%%sql
DESCRIBE chromosome_1;

 * mysql+pymysql://ed001:***@localhost/ed001?local_infile=1
8 rows affected.

[('accession_num', 'varchar(255)', 'NO', 'PRI', None, ''),
 ('protein_name', 'varchar(255)', 'YES', '', None, ''),
 ('gene', 'varchar(255)', 'YES', '', None, ''),
 ('chromosome_loc', 'varchar(255)', 'YES', '', None, ''),
 ('aa_coding_seq', 'varchar(255)', 'YES', '', None, ''),
 ('complement', 'char(1)', 'YES', '', None, ''),
 ('origin', 'text', 'YES', '', None, ''),
 ('joins', 'varchar(255)', 'YES', '', None, '')]

In [23]:
df.to_csv(r'CDS_sql.csv', header=True, index=None, sep='|', mode='a')

In [28]:
%%sql
LOAD DATA LOCAL INFILE 'CDS_sql.csv'
INTO TABLE chromosome_1
FIELDS TERMINATED BY '|';

 * mysql+pymysql://ed001:***@localhost/ed001?local_infile=1
2348 rows affected.

[]

In [29]:
%%sql 
SELECT * FROM chromosome_1 LIMIT 10;

 * mysql+pymysql://ed001:***@localhost/ed001?local_infile=1
10 rows affected.

[('AB000360', 'N/A', 'PIGC', '1q23-q25', 'N/A', '0', 'GGATCCCTGCTGCAGAGGGGGTAACGGTGTCTGGCTTGCCAAGCAATATTTGTTGTGGTCTATCATGGAAGAAATAAAGTCGGGCAATATGAATTTTTTTTTTCTCAAATTTGCCGGATGGCTGTGGTGTTTCTGACTCTTAGTTTTCT ... (2284 characters truncated) ... TGCTATGCTCAGTTTTGTTGCCCAAGATCACAGAATTGGTTACTTAACCTTGACTCAGAGTTTCTACCTTGTTCTTAGGGAAGCATATCACAACTAATTGCAAAGCAGAGTGTGATGTGTCACAATAAGCAGAATGCTAGGGGGAATTC', "['1101..1994']"),
 ('AB003474', 'N/A', 'STK6P', '1q41-q42', 'N/A', '0', 'AAGACTTTGAAATTGGTCGCCCTCCGGGTAAAGGAAAGTTTGGTAATGTTTATTTGGCAAGAGAAAAACAAAGCAAGTTTATTCTGGCTCTTAGGGTGTTATTTAAAGCTCAGCTGGAGAAAGCAGGAGTGGAGCATCAACTCAGAAGA ... (617 characters truncated) ... AATTCATCAAAACCATCAAATTGCCAAAACAAAGAATCAACTAGCAAGTATTCTTAGGAATCGTGCAGGGGGAGAAATCCTTGAGCCAGGGCTGCTGTATAACCTCTCAGGAACATGCTACCAAAATTTATTTTACCATTGACTGCTGC', "['1..915']"),
 ('AB006688', 'myocilin', 'N/A', '1q23-q24', 'N/A', '0', 'GATCTCCAGTTCCTAGCATAGTGCCTGGCACAGTGCAGGTTCTCAATGAGTTTGCAGAGTGAATGGAAATATAAACTAGAAATATATCCTTGTTGAAATCAGCACACCAGTAGTCCTGGTGTAAGTGTGTGTACGTGTGTGTGTGTGTG ... (2865 characters truncated) ... AAGTTTTCTTGTGATTTGGGGCAAAAGCTGTAAGGCATAATAGTTTCTTCCTGAAAACCATTGCTCTTGCATGTTACATGGTTACCACAAGCCACAATAAAAAGCATAACTTCTAAAGGAAGCAGAATAGCTCCTCTGGCCAGCATCGA', '[]'),
 ('AB007162', 'ribosomal protein S27', 'N/A', 'N/A', 'N/A', '0', 'GATCTCCTTCATCCCTCTCCAGAAGAGGAGAAGAGGAAACACAAGAAGAAACGCCTGGTGCAGAGCCCCAATTCCTACTTCATGGATGTGAAATGCCCAGGTGAGGAGACGGCTTGCTGTAGTGGGGAAAGCACTGGACCTCAACAGTT ... (252 characters truncated) ... CGGGTGTAATAGAGGAAAAAAATGTTATCTGCTTTTCTTTCAGGATGCTATAAAATCACCACGGTCTTTAGCCATGCACAAACGGTAGTTTTGTGTGTTGGCTGCTCCACTGTCCTCTGCCAGCCTACAGGAGGAAAAGCAAGGCTTAC', '[]'),
 ('AB007171', 'ribosomal protein L11', 'N/A', 'N/A', 'IRKLCLNICVGESGDRLTRAAKVLEQLTGQTPVFSK', '0', 'ATCCGCAAACTCTGTCTCAACATCTGTGTTGGGGAGAGTGGAGACAGACTGACGCGAGCAGCCAAGGTGTTGGAGCAGCTCACAGGGCAGACCCCTGTGTTTTCCAAAGGTGAGTAGTCACAAGGACATACAGGGTTTGCCTGCTTGGGTCGCTTGGTGGGTTTCTTGATTTACCTGCTGTCGAGTC', '[]'),
 ('AB012623', 'Rh blood group antigen', 'RHD', '1p36-p34', 'N/A', '0', 'GCGCCCTCTTCTTGTGGATGTTCTGGCCAAGTGTCAACTCTGCTCTGCTGAGAAGTCCAATCCAAAGGAAGAATGCCGTGTTCAACACCTACTATGCTGTAGCAGTCAGCGTGGTGACAGCCATCTCAGGGTCATCCTTGGCTCACCCCCAAGGGAAGATCAGCAAG', "['1..167']"),
 ('AB012658', 'Rh blood group antigen', 'RHD', '1p36-p34', 'N/A', '0', 'GCGCCCTCTTCTTGTGGATGTTCTGGCCAAGTGTCAACTCTGCTCTGCTGAGAAGTCCAATCCAAAGGAAGAATGCCATGTTCAACACCTACTATGCTGTAGCAGTCAGCGTGGTGACAGCCATCTCAGGGTCATCCTTGGCTCACCCCCAAGGGAAGATCAGCAAG', "['1..167']"),
 ('AB012659', 'Rh blood group antigen', 'RHD', '1p36-p34', 'N/A', '0', 'GCGCCCTCTTCTTGTGGATGTTCTGGCCAAGTTTCAACTCTGCTCTGCTGAGAAGTCCAATCAAAAGGAAGAATGCCGTGTTCAACACCTACTATGCTGTAGCAGTCAGCGTGGTGACAGCCATCTCAGGGTCATCCTTGGCTCACCCCCAAGGGAAGATCAGCAAG', "['1..167']"),
 ('AB012660', 'Rh blood group antigen', 'RHD', '1p36-p34', 'N/A', '0', 'TGTTCGCAGCCTATTTTGGGCTGTCTGTGGCCTGGTGCCTGCCAAAGCCTCTACCCGAGGGAACGGAGGATAAAGATCAGACAGCAACGATACCCAGTTTGTCTGCCATGCTGGGTAAGGACAAGGTGGGGTGAGTGGTCTCCTACTTG ... (409 characters truncated) ... TGTTCTGGCCAAGTGTCAACTCTGCTCTGCTGAGAAGTCCAATCCAAAGGAAGAATGCCATGTTCAACACCTACTATGCTCTAGCAGTCAGTGTGGTGACAGCCATCTCAGGGTCATCCTTGGCTCACCCCCAAGGGAAGATCAGCAAG', "['1..114', '541..707']"),
 ('AB012661', 'Rh blood group antigen', 'RHD', '1p36-p34', 'N/A', '0', 'TGTTCGCAGCCTATTTTGGGCTGTCTGTGGCCTGGTGCCTGCCAAAGCCTCTACCCGAGGGAACGGAGGATAAAGATCAGACAGCAACGATACCCAGTTTGTCTGCCATGCTGGGTAAGGACAAGGTGGGGTGAGTGGTCTCCTACTTG ... (409 characters truncated) ... TGTTCTGGCCAAGTGTCAACTCTGCTCTGCTGAGAAGTCCAATCCAAAGGAAGAATGCCGTGTTCAACACCTACTATGCTGTAGCAGTCAGCGTGGTGACAGCCATCTCAGGGTCATCCTTGGCTCACCCCCAAGGGAAGATCAGCAAG', "['3..114', '541..707']")]

In [30]:
import pymysql.cursors

dbname = 'ed001'
dbhost = 'localhost'
dbuser = 'ed001'
dbpassword = 'w3jatiunb'

sql = 'select * from chromosome_1 LIMIT 10'

db = pymysql.connect(host=dbhost, user = dbuser, db = dbname, passwd = dbpassword)

cursor = db.cursor()
nrows = cursor.execute(sql)

l=[]

for row in cursor:
    d={}
    acc=row[0]
    d['acc']=acc
    ppn=row[1]
    gene_id=row[2]
    chrom_loc=row[3]
    CDS_aa_string=row[4]
    CDS_DNA_string=row[5]
    
    l.append(d)
    
print(l)

[{'acc': 'AB000360'}, {'acc': 'AB003474'}, {'acc': 'AB006688'}, {'acc': 'AB007162'}, {'acc': 'AB007171'}, {'acc': 'AB012623'}, {'acc': 'AB012658'}, {'acc': 'AB012659'}, {'acc': 'AB012660'}, {'acc': 'AB012661'}]

In [31]:
%%sql
SELECT joins FROM chromosome_1 LIMIT 50;

 * mysql+pymysql://ed001:***@localhost/ed001?local_infile=1
50 rows affected.

[("['1101..1994']",),
 ("['1..915']",),
 ('[]',),
 ('[]',),
 ('[]',),
 ("['1..167']",),
 ("['1..167']",),
 ("['1..167']",),
 ("['1..114', '541..707']",),
 ("['3..114', '541..707']",),
 ("['1..167']",),
 ('[]',),
 ("['2097..2179', '2333..2370', '2571..2653', '3441..3520', '4498..4654']",),
 ('[]',),
 ('[]',),
 ("['41..196', '602..732', '800..939', '1007..1174', '1564..1728', '1804..1913', '2012..2139', '2262..2436']",),
 ("['69..150', '451..661', '1004..1170', '1589..1792', '2178..2359', '2536..2647', '3135..3258', '3603..3705', '3807..3904', '4362..4501', '5071..5258', '5715..5838', '6312..6475', '6756..6857', '6972..7127', '7221..7371', '7894..8018', '8113..8225', '8343..",),
 ("['1..1182']",),
 ("['55..207', '462..510']",),
 ("['22..33', '1840..1887']",),
 ('[]',),
 ('[]',),
 ("['1..146']",),
 ("['1..480']",),
 ("['1..480']",),
 ("['1..480']",),
 ("['1..480']",),
 ("['1..480']",),
 ("['5446..5541']",),
 ("['1816..2125', '3419..3482', '5256..5348', '5568..5682', '6785..6908', '6993..7143', '7258..7447', '7547..7592', '7860..7983', '8818..8863', '8947..9087']",),
 ("['1..537']",),
 ("['1..131', '243..379']",),
 ("['31..108']",),
 ("['1..117']",),
 ('[]',),
 ("['89..127', '636..756', '974..1108', '1477..1644', '1743..1821', '3069..3124', '3226..3333', '3530..3567', '4022..4202', '4434..4762']",),
 ("['89..127', '636..756', '974..1108', '1477..1644', '1743..1821', '3055..3110', '3212..3319', '3516..3553', '4008..4188', '4420..4748']",),
 ("['3225..3474', '4014..4086', '4199..4346', '4459..4561', '4690..4946', '5053..5209', '5323..5474', '5604..5639']",),
 ("['2104..2277', '2508..2754', '2912..3033', '6304..6396', '6532..6638', '6755..6823', '6940..7024', '7180..7276', '7432..7625']",),
 ("['1..1616']",),
 ("['602..1133', '2459..2700']",),
 ("['85..165', '251..271']",),
 ("['540..545', '858..966', '1309..1419', '1810..1838']",),
 ("['1..89', '1216..1315']",),
 ("['839..850', '2657..2761']",),
 ("['338..451']",),
 ('[]',),
 ('[]',),
 ('[]',),
 ('[]',)]

In [33]:
%%sql
DELETE FROM chromosome_1
WHERE joins like "[]";

 * mysql+pymysql://ed001:***@localhost/ed001?local_infile=1
234 rows affected.

[]

In [34]:
%%sql
SELECT joins FROM chromosome_1 LIMIT 50;

 * mysql+pymysql://ed001:***@localhost/ed001?local_infile=1
50 rows affected.

[("['1101..1994']",),
 ("['1..915']",),
 ("['1..167']",),
 ("['1..167']",),
 ("['1..167']",),
 ("['1..114', '541..707']",),
 ("['3..114', '541..707']",),
 ("['1..167']",),
 ("['2097..2179', '2333..2370', '2571..2653', '3441..3520', '4498..4654']",),
 ("['41..196', '602..732', '800..939', '1007..1174', '1564..1728', '1804..1913', '2012..2139', '2262..2436']",),
 ("['69..150', '451..661', '1004..1170', '1589..1792', '2178..2359', '2536..2647', '3135..3258', '3603..3705', '3807..3904', '4362..4501', '5071..5258', '5715..5838', '6312..6475', '6756..6857', '6972..7127', '7221..7371', '7894..8018', '8113..8225', '8343..",),
 ("['1..1182']",),
 ("['55..207', '462..510']",),
 ("['22..33', '1840..1887']",),
 ("['1..146']",),
 ("['1..480']",),
 ("['1..480']",),
 ("['1..480']",),
 ("['1..480']",),
 ("['1..480']",),
 ("['5446..5541']",),
 ("['1816..2125', '3419..3482', '5256..5348', '5568..5682', '6785..6908', '6993..7143', '7258..7447', '7547..7592', '7860..7983', '8818..8863', '8947..9087']",),
 ("['1..537']",),
 ("['1..131', '243..379']",),
 ("['31..108']",),
 ("['1..117']",),
 ("['89..127', '636..756', '974..1108', '1477..1644', '1743..1821', '3069..3124', '3226..3333', '3530..3567', '4022..4202', '4434..4762']",),
 ("['89..127', '636..756', '974..1108', '1477..1644', '1743..1821', '3055..3110', '3212..3319', '3516..3553', '4008..4188', '4420..4748']",),
 ("['3225..3474', '4014..4086', '4199..4346', '4459..4561', '4690..4946', '5053..5209', '5323..5474', '5604..5639']",),
 ("['2104..2277', '2508..2754', '2912..3033', '6304..6396', '6532..6638', '6755..6823', '6940..7024', '7180..7276', '7432..7625']",),
 ("['1..1616']",),
 ("['602..1133', '2459..2700']",),
 ("['85..165', '251..271']",),
 ("['540..545', '858..966', '1309..1419', '1810..1838']",),
 ("['1..89', '1216..1315']",),
 ("['839..850', '2657..2761']",),
 ("['338..451']",),
 ("['1923..1925']",),
 ("['550..720']",),
 ("['424..594']",),
 ("['340..510']",),
 ("['78..272']",),
 ("['60..225']",),
 ("['100..111']",),
 ("['66..236']",),
 ("['227..248']",),
 ("['99..318']",),
 ("['171..300']",),
 ("['90..221']",),
 ("['81..207']",)]